snippet func
	func ${1:fun}(${2}) ${3} {
		${0}
	}

snippet funcm
	func (mod ${1}) ${2:fun}(${3}) ${4} {
		${0}
	}

snippet for
	for ${1} {
		${0}
	}

snippet forr
	for ${1}, ${2} := range ${3} {
		${0}
	}

snippet fori
	for ${1} := ${2}; ${3}; ${4} {
		${0}
	}
