snippet let
	local ${1:x} = ${0:1}

snippet function
	function ${1:fname}(${2})
		$0
	end

snippet for
	for $1 do
		$2
    ::continue::
	end

snippet if
	if $1 then
		$2
	end

snippet elif
	elseif $1 then
		$0

snippet while
	while $1 do
		$0
    ::continue::
	end

snippet print
	print('${1:string}')

snippet pr
	print($0)

snippet prf
	print(string.format('${1:%s}'$0))

snippet mod
  local M = {}

  $0

  return M

snippet fmt
  string.format('${1:%s}'$0)
